* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 15px;
  line-height: 22px;
  color: #041936;
  background-color: #ffffff;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 500;
}
.container {
  width: 1280px;
  padding: 0px 20px;
  margin: 0 auto;
}
.header__top-menu {
  background-color: #f0f0f2;
}
.top-menu__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 44px;
}
.top-menu__top-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 810px;
}
.top-nav-list__item {
  padding: 0px 20px;
}
.top-nav-list__link {
  font-size: 15px;
  line-height: 22px;
  color: #041936;
  text-decoration: none;
}
.top-menu__social-icons {
  display: flex;
  justify-content: flex-start;
  max-width: 198px;
  flex-wrap: wrap;
}
.top-menu__city {
  max-width: 225px;
}
.city__place-icon-img {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 25px;
  background-color: #000000;
  margin-right: 10px;
}
.city__place-text-block {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
.city__place-icon-link,
.city__place-link {
  font-size: 15px;
  line-height: 22px;
  color: #041936;
  text-decoration: none;
}
.city__place-link {
  color: #baa085;
}
.top-menu__social-img {
  /* display: block; */
  /* width: 34px;
  height: 34px; */
  /* background-color: #ffffff; */
  margin-right: 7px;
}
.top-menu__social-img:last-child {
  margin-right: 0;
}
.search-block__logo {
  width: 190px;
  height: 72px;
  margin-right: 63px;
}
.header__search-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0px;
}
.search-block__search {
  position: relative;
  margin-right: 40px;
}
.search-block__field {
  width: 525px;
  height: 50px;
  border: 1px solid #f0f0f2;
  border-radius: 25px;
  padding: 15px 20px;
}

.search-block__where {
  position: absolute;
  display: none;
}
.search-block__search-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 50px;
  border: none;
  border-left: 1px solid #f0f0f2;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #f0f0f2;
}
.search-block__tel {
  font-size: 20px;
  line-height: 22px;
  color: #041936;
  text-decoration: none;
  margin-right: 35px;
}
.search-block__icons-wrapper {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.main-nav__list {
  position: relative;
  /* min-height: 105px; */
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.main-nav__submenu-list {
  display: none;
  position: relative;
  justify-content: center;
  width: 100%;
  max-width: 1240px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav__submenu-list--active {
  display: flex;
}
.main-nav__submenu-list::after {
  content: "";
  position: absolute;
  top: -22px;
  left: 234px;
  border: 11px solid transparent;
  border-bottom-color: #baa085;
}
.main-nav__list-item {
  padding: 15px 0px;
  margin-right: 20px;
}
.main-nav__link {
  font-size: 15px;
  line-height: 22px;
  color: #041936;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 10px;
  font-weight: 600;
}
.main-nav__link:hover {
  color: #e9465e;
}
.main-nav__link-age {
  color: #baa085;
}
.submenu-list__item {
  padding: 15px 10px;
}
.main-nav__submenu-list-wrapper {
  /* position: absolute;
  left: 0;
  bottom: 0;
  padding: 0; */
  background-color: #baa085;
}
.submenu-list__link {
  font-size: 15px;
  line-height: 19px;
  color: #ffffff;
  text-decoration: none;
}
